/* style-tablet.css */
<<<<<<< HEAD

@charset "UTF-8";

@media screen and (min-width: 900px) {

    #aboutContent {
        flex-direction: row;
        justify-content: space-between;
    }
    #aboutText {
        text-align: left;
    }
    #aboutContent img {
        object-fit: contain;
    }
    
}
=======
>>>>>>> 4a1356b4f89919b9632cf88d3f80edb4791b766d
