@charset "UTF-8";

:root{
    
    --cor1: #E8EFFF;
    --cor2: #6694FF;
    --cor3: #004CFC;
    --cor4: #31477A;
    --cor5: #0B1A3C;

    --fontePadrao: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

}

*{

    font-family: var(--fontePadrao);
    margin: 0px;
    padding: 0px;

}

#home{

    position: fixed;
    background-color: white;
    width: 100%;
    text-align: right;
    padding: 14px;

}

#home > a{


}


.default {

    max-width: 900px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin: auto;
    margin: 50px auto 50px auto;
}

#apresentation{

    background-color: var(--cor5);
    padding: 50px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;

}

#greetings{

    padding-bottom: 50px;

}

#apresentation h1{

    font-size: 40px;
    font-weight: 900;

}

#apresentation p{

    margin: 10px 50px 50px 50px;

}

#apresentation a{

    background-color: var(--cor2);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 2px;

}

@media (max-width: 650px) {

    #apresentation h1 {

        font-size: 30px;

    }

    #apresentation{

        font-size: 20px;

    }

}

@media (min-width: 1200px) {

    #apresentation h1 {

        font-size: 60px;

    }

}

main{

    background-color: var(--cor5);
    padding: 50px;

}

#about{

    

}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 60px;
}
