/* style-tablet.css */

@charset "UTF-8";

@media screen and (min-width: 900px) {

    #aboutContent {
        flex-direction: row;
        justify-content: space-between;
    }
    #aboutText {
        text-align: left;
    }
    #aboutContent img {
        object-fit: contain;
    }
    
}