/* style-desktop.css */
<<<<<<< HEAD

@charset "UTF-8";

#apresentation h1 {
    font-size: 60px;
}

#aboutContent {
    flex-direction: row;
    justify-content: space-between;
}
#aboutText {
    text-align: left;
}
=======
>>>>>>> 4a1356b4f89919b9632cf88d3f80edb4791b766d
