/* style-mobile.css */

#apresentation h1 {
    font-size: 30px;
}

#apresentation{
    font-size: 20px;
}

#home > a{
    font-size: 0.9em;
    margin-left: 10px;
}

.profile{
    font-size: 0.9em;
}